{% extends "base.html" %}
{% load static %}



{% block content %}




<div class="container">
    <div class="row">
        
        <div class="col-md-6">
            <img src="{{object.image.url}}" class="card-img-top" alt="...">
            
                <div class="card">
                    <ul class="list-group list-group-flush">
                    <li class="list-group-item"><b>Product : {{object.name}}</b></li>
                    <li class="list-group-item"><b> Description </b> {{object.description}}</li>
                    <li class="list-group-item"><b> Price </b> {{object.price}}/-</li></ul>
                </div>
            </div>
        </div>
       
  <!-- Reviews Section -->
  <div class="row">
        
    <div class="col-md-9">
      <header class="Section-heading">
        <h3>custumer Reviews</h3>
      </header>
      <form action="{% url 'submit_review' product.id %}" method="post">
        {% csrf_token%}
        <h3>write your Reviews</h3>

        <label>how do you rate this product</label>
        <div class="rate">
          <input type="radio" name="rating" id="rating10" value="5" required/> <label for="rating10" title="5"></label>
          <input type="radio" name="rating" id="rating9" value="4.5" required/><label for="rating9" title="4.5" class="half"></label>
          <input type="radio" name="rating" id="rating8" value="4" required/><label for="rating8" title="4"></label>
          <input type="radio" name="rating" id="rating7" value="3.5" required/><label for="rating7" title="3.5" class="half"></label>
          <input type="radio" name="rating" id="rating6" value="3" required/><label for="rating6" title="3"></label>
          <input type="radio" name="rating" id="rating5" value="2.5" required/><label for="rating5" title="2.5" class="half"></label>
          <input type="radio" name="rating" id="rating4" value="2" required/><label for="rating4" title="2"></label>
          <input type="radio" name="rating" id="rating3" value="1.5" required/><label for="rating3" title="1.5" class="half"></label>
          <input type="radio" name="rating" id="rating2" value="1" required/><label for="rating2" title="1"></label>
          <input type="radio" name="rating" id="rating1" value="0.5" required/><label for="rating1" title="0.5" class="half"></label>

        </div>
        <div>
          Reviews Title:
          <input type="text" class="form-control" name="subject">
          <br>
          Reviews:
          <textarea name="Reviews" rows="4" class="form-control"></textarea>
          <br>
          {% if user.is_authenticated %}
          <input type="submit" value="Submit Reviews" class="btn btn-primary">
          {% else%}
          <p>you must be logged in to post Reviews<span><a href="{% url 'login' %}">login now</a></span></p>
          {% endif %}
        </div>
        {% include 'Product/alerts.html' %}
      
      </form>
      


    </div></div><br>
</div><br>
            
</div>
{% endblock %}
   
               
                

                
                
